*{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: FuenteDiscord;
  src: url(fuentes/uni-sans-heavy.ttf);
}

.menu{
  background: #404EED;

  position:  relative;
  padding-top: 21px;
}

#logo{
  position: absolute;
  left: 18%;
}

.menu2{
  position:  relative;

  text-decoration: none;
  font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: white;
  font-size: 14px;
  weight: bold;
}

.menu2:hover{
  text-decoration: underline;
}

.b3{
  position:  absolute;
  left: 74%;
  top: 15px;

  font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: black;
  border-radius: 12px;
  text-decoration: none;

  background-color: #F6F6F6;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  margin: 10px 30px;

}

.tabla{
  position:  relative;

  left: 36%;
  top: 10px;
}

.mein{
  background: #404EED;
  background-image: url("fotos/main0.svg");
  height: 570px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
}

#tg{
  font-family: FuenteDiscord;
  color: #ffffff;

  position: relative;
  text-align: center;
  font-size: 440%;
  top: 140px;
}

#tp{
  font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #ffffff;

  position: relative;
  text-align: center;
  font-size: 113%;
  top: 180px;
  font-weight: 700px;
  line-height: 1.8;
}


#main1{
  position: relative;
  float: left;
  margin: 0 0 0 0;
  top: 3.1%;
  right: 75px;
}

#main2{
  position: relative;
  float: right;
  margin: 0 0 0 0;
  top: 1.46%;
  left: 55px;
}

#b1{

  position: relative;
  top: 210px;
  right: 80px;

  font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #23272A;
  border-radius: 12px;
  text-decoration: none;
  letter-spacing: 0.5px;

  background-color: #F6F6F6;
  padding: 0.7% 1.5%;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 0.1% 1.7%;


}

#b2{

  position: relative;
  top: 141px;
  left: 220px;

  font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: floralwhite;
  border-radius: 12px;
  text-decoration: none;
  letter-spacing: 0.5px;

  background-color: #23272A;
  padding: 0.7% 1.5%;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 0.9% 1.7%;

}


.descrip1{
  background: #FFFFFF;
  margin-left: 400px;
  margin-right: 200px;
  margin-top: 110px;
}

#descr1{
  text-align: center;
  float: left;
  width: 50%;
}

#st{
  font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #23272A;
  font-size: 350%;
  padding-bottom: 2%;

  position: relative;
  left:10%;
}

#tp2{
  font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #23272A;
  font-size: 17px;
  text-align: left;
  letter-spacing: 0.5px;
  line-height: 1.8;

  position: relative;
  left:10%;
}
